<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eshop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @await RenderSectionAsync("Styles", false)
</head>
<body>
    <header class="container-fluid bg-dark p-0">
        <nav id="header-menu-top" class="container-fluid navbar navbar-dark">
            <p class="navbar-text">
                +1 123 456 789
            </p>
        </nav>
        <nav id="header-menu-bottom" class="container-fluid navbar navbar-expand-lg navbar-light bg-white">
            <span class="navbar-text text-uppercase text-body">
                <span class="text-success font-weight-bold">Renoshop</span>bee
            </span>
            <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
                <div class="navbar-nav text-uppercase font-weight-bold">
                    <a class="nav-item nav-link text-success" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link text-body" href="#">Women</a>
                    <a class="nav-item nav-link text-body" href="#">Men</a>
                    <a class="nav-item nav-link text-body" href="#">Kids</a>
                    <a class="nav-item nav-link text-body" href="#">Jewellery</a>
                    <a class="nav-item nav-link text-body" href="#">Accessories</a>
                </div>
            </div>
            <span class="navbar-text text-uppercase">
                <span>Renoshop</span>bee
            </span>
        </nav>
    </header>
    <div class="container-fluid p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="container-fluid">
        <div class="row h-100">
            <div class="col-7 h-100 d-flex align-items-center justify-content-center border-bottom">Copyright 2017 RenoshopBee all right reserved  -  Design by BeeStudios</div>
            <div class="col-2 d-flex p-0 justify-content-around h-100 align-items-center border-top-0">
                <i class="fab fa-cc-visa fa-2x"></i>
                <i class="fab fa-cc-paypal fa-2x"></i>
                <i class="fab fa-amazon fa-2x"></i>
                <i class="fab fa-cc-mastercard fa-2x"></i>
                <i class="fab fa-apple-pay fa-2x"></i>
            </div>
            <div class="col-3 h-100 border-bottom"></div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/563d3bba4f.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
