@using Microsoft.AspNetCore.Identity
@using eshop.Models.Account

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a id="myAccount" class="nav-item nav-link text-body px-4" asp-area="Identity" asp-page="/" title="Manage">My Account ▽</a>
}
else
{
    <a class="nav-item nav-link text-body px-4" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
