#slider{
    height: 800px;
    background-color: #121212;
}
#slider span{
    display: block;
}
.card-body > p, .card-body > h6, #fastest-shipping p{
    margin: 0 !important;
}
.card-body{
    padding-left: 0!important;
    padding-right: 0!important;    
}
#best-sellers-content{
    padding: 0 55px;
    margin: auto 0;
    font-size: 0.8em !important;
}
#best-sellers-bg{
    height: 600px;
}
#fastest-shipping{
    background-color:  #f5f6f9;
    padding: 50px !important;
}
#diamond, #plane, #share, #rocket{
    height: 40px;
    width: 100%;
} 

#summer-and-autumn,#winter-collection{
    background-color: #2e3348;
}
#new-fashion-styles{
    background-color: #34394f;
}
.fashion-styles{
    padding: 75px 0;
    box-sizing: content-box;
    height: 350px;
    width: 350px;
}


#featured-products {
    height: 210px;
    padding-top: 100px;
}

#featured-products-label {
    font-size: 22px;
}

#featured-products-sublabel {
    font-size: 11px;
    color: #62c28e;
}

#featured-products-content {
    padding: 0 70px;
}

.card {
    height: 400px;
    border: none !important;
}

.card-img-top {
    height: 300px;
}

.card-body > p, .card-body > h5 {
    margin: 0 !important;
}

#coupon-form {
    height: 300px;
}

#get-coupon {
    background-image: url(../images/emailbackground.png);
    height: 300px;
}

#coupon-form-name > h2 {
    font-size: 22px;
}

#coupon-form-name > p {
    font-size: 10px;
}

#coupon-email-input{
    width: 65%; 
}
#coupon-button{
    width: 33%; 
}
#coupon-email-input,#coupon-button{
    border: 0 !important;
    border-radius: 0 !important;  
}

#coupon-form-content {
    width: 70%;
}

.inp-form {
    border: none;
    border-radius: 0;
}

#coupon-button {
    font-size: .75rem;
    padding: .625rem;
    background-color: #3cb878;
}

#coupon-sub-img {
    background-color: #f5f6f9;
}

#connect-with {
    height: 3.5em;
    box-shadow: 0 0 0.5px rgba(0,0,0,0.5);
}

#connect-with > div .border-bottom {
    border-bottom: 2px solid #eeeeee !important;
}

#connect-with > div .border-top-0 {
    border: 2px solid #eeeeee;
    border-top: 0 !important;
}
#connect-with-text{
    padding-left: 16%;
} 

#help-info{
    margin: 2.5em 0;
    padding: 0 16%;
}

    #help-info .list-group {
        font-size: 12px;
        margin-top: 2em;
        margin-bottom: 3em;
    }

    #help-info .list-group-item {
        padding-left: 0;
        padding-right: 0;
    }

    #help-info .list-group, #help-info .list-group-item {
        border: none;
        border-radius: 0;
    }

    #help-info .list-group .fas {
        margin-right: 0.5em;
    }