@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap');

html, body {
    font-family: 'Poppins', cursive;
}

.text-green{
    color: #3cb878;
}

#header-menu-top{
    height: 60px;
    background-color: black;
    font-size: 10px;
}
#header-menu-bottom{
    height: 100px;
}

/*try change it*/
main { 
    min-height: calc(100vh - 220px);
}

footer {
    font-size: 14px;
    height: 60px;
    background-color: #000000;
}
#footer-content{
    padding: 0 16%;
}